<template>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Quis eleifend quam
      adipiscing vitae proin sagittis. Sem et tortor consequat id porta nibh
      venenatis cras sed. In cursus turpis massa tincidunt dui ut ornare lectus
      sit. Nec feugiat in fermentum posuere. Tellus molestie nunc non blandit
      massa enim nec. Duis ultricies lacus sed turpis tincidunt. Et malesuada
      fames ac turpis egestas maecenas pharetra convallis. Sed blandit libero
      volutpat sed cras. Lacus viverra vitae congue eu consequat ac. Et
      sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque.
    </p>
    <p>
      Viverra ipsum nunc aliquet bibendum enim. Sem viverra aliquet eget sit
      amet tellus cras adipiscing enim. Lacus viverra vitae congue eu consequat
      ac felis donec et. Quis auctor elit sed vulputate mi sit amet mauris
      commodo. Odio eu feugiat pretium nibh ipsum consequat nisl vel pretium.
      Nec tincidunt praesent semper feugiat nibh. Nibh tortor id aliquet lectus.
      Eu lobortis elementum nibh tellus molestie nunc. Varius vel pharetra vel
      turpis nunc eget lorem dolor sed. Sem nulla pharetra diam sit. Volutpat
      commodo sed egestas egestas fringilla phasellus faucibus. Turpis massa
      tincidunt dui ut ornare lectus. Amet risus nullam eget felis eget nunc
      lobortis. Faucibus et molestie ac feugiat sed. Sit amet tellus cras
      adipiscing enim eu turpis egestas pretium. Elementum nibh tellus molestie
      nunc non blandit massa.
    </p>
    <p>
      Semper feugiat nibh sed pulvinar proin gravida hendrerit. Vitae nunc sed
      velit dignissim sodales ut eu sem. Vel risus commodo viverra maecenas
      accumsan lacus vel facilisis. Dictum sit amet justo donec enim diam
      vulputate ut. Pellentesque habitant morbi tristique senectus et. Faucibus
      interdum posuere lorem ipsum dolor sit. Lorem ipsum dolor sit amet
      consectetur. Augue interdum velit euismod in pellentesque massa. Ipsum
      dolor sit amet consectetur adipiscing elit pellentesque habitant morbi.
      Pulvinar pellentesque habitant morbi tristique senectus et. Elementum nibh
      tellus molestie nunc non blandit massa enim. Felis donec et odio
      pellentesque.
    </p>

    <p>
      Aliquam ut porttitor leo a diam. Sed id semper risus in hendrerit gravida
      rutrum quisque. Viverra mauris in aliquam sem fringilla ut morbi tincidunt
      augue. At urna condimentum mattis pellentesque id. Nunc congue nisi vitae
      suscipit tellus mauris a. Magnis dis parturient montes nascetur ridiculus
      mus mauris vitae. Mi sit amet mauris commodo. Magna ac placerat vestibulum
      lectus mauris ultrices. Nisi est sit amet facilisis magna. Facilisis magna
      etiam tempor orci eu lobortis elementum nibh tellus. At in tellus integer
      feugiat scelerisque varius morbi enim. Rhoncus dolor purus non enim
      praesent elementum facilisis. Nec dui nunc mattis enim ut tellus
      elementum. Magna eget est lorem ipsum dolor sit amet consectetur.
    </p>
    <p>
      Aliquam faucibus purus in massa tempor nec feugiat. Leo a diam
      sollicitudin tempor id eu. Mi ipsum faucibus vitae aliquet nec. Massa id
      neque aliquam vestibulum morbi blandit cursus risus. Sociis natoque
      penatibus et magnis dis. Consectetur purus ut faucibus pulvinar elementum
      integer enim neque. Porttitor lacus luctus accumsan tortor posuere ac.
      Tincidunt dui ut ornare lectus sit. Morbi tincidunt augue interdum velit.
      Congue quisque egestas diam in arcu cursus euismod. At imperdiet dui
      accumsan sit amet nulla facilisi morbi.
    </p>
  </div>
</template>

<script>
export default {
  name: 'GeneralSidePanel',
  data() {
    return {}
  },
}
</script>
