
.tabs {
  width: 100%;
  background-color: $white;
}

.tabs--full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs__header {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0 0 0 15px;
  margin: 0;
  gap: 15px;
  border-bottom: solid 1px $color-neutral-200;

  .tabs--no-separation & {
    border-bottom: unset;
  }

  .tabs--large & {
    gap: 24px;
    padding: 0 0 0 40px;
  }
}

.tabs__item {
  position: relative;

  &.tabs__item--disabled {
    user-select: none;
    color: $color-primary-900;
    opacity: 0.6;
    text-decoration: none;

    a {
      cursor: not-allowed;
    }
  }

  &.tabs__item--active::after {
    content: "";
    height: 1px;
    background-color: $color-primary-600;

    @include absolute(auto, 0, -1px, 0);
  }
}

.tabs__link {
  color: $color-neutral-900;
  display: block;
  font-size: 12px;
  padding: 12px 0;

  .tabs--large & {
    font-size: 14px;
    padding: 18px 0;
  }

  &:hover {
    text-decoration: none;
  }

  &:hover,
  .tabs__item--active & {
    color: $color-primary-600;
  }
}

.tab {
  padding: 14px 16px;
  position: relative;

  .tabs--full-height & {
    overflow: auto;
    height: 100%;
  }
}
